@import url("/img/footer_bg_fire.png");

/*-CSS設定開始-*/
*{
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0px;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Inter','Noto Sans TC','sans-serif' !important;
  font-weight: 400; 
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: auto;
  background-color: #000;
  /*測試用背景色*/
  /*background-color:#ccc*/;
  }

html,
body{
  height: 100%;
}

/*body > footer{
  position: sticky;
  top: 100vh;
}*/

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Chocolate Classical Sans","Inter", sans-serif!important;
  font-weight: 400;
  line-height: 1.2; }

ul {
  /*取消ul預設的內縮及樣式*/
  margin: 0;
  padding: 0;
  list-style: none;
}

main{
  unicode-bidi: unset;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-tc <uniquifier> {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter <uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.chocolate-classical-sans-regular {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*-CSS設定結束-*/

/*-網頁全域設定結束-*/
.xl-font{
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.lg-font{
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.01em;
}
.md-font{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.sm-font{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
}

.site-wapper{
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: max-content;
  min-height: 100%;
  overflow: hidden;
}

.header,
.main,
.footer{
  min-height: max-content;
  min-width: none;
  position: relative;
}

img{
	
}

/*-網頁全域設定結束-*/
/*--hearer開始--*/
.header,
.title-nav-wapper{
  margin: 0;
  padding: 0;
  margin: auto;
}
    
.title-nav-wapper{
  width: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.05em;
  /* margin: auto; */
}

.title-nav-wapper-bg{
  min-width: 100%;
  background-image: linear-gradient(to bottom,rgba(24, 24, 24, 0.8) 30%, transparent 94%);
}

.header{
  margin: 0;
  z-index: 2;
  position: absolute;
}
    
.site-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 4 !important;
  vertical-align: middle;
  line-height: 1em;
  z-index: 8002;
  position: relative;
  }

.main-nav{
  flex: 8 !important;
  text-align: right;
  vertical-align: middle;
}

.title-container{
  width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;
    font-size: 15px;  
    letter-spacing: 0.05em;
    margin: auto;
    position: fixed;
}

  /*---hearer下拉選單開始---*/
  ul.cf {
    display: inline-block;
    font-size: 16px;
    /* 取消ul預設的內縮及樣式 */
    /*margin: 0;
    padding: 0;
    list-style: none;*/
  }
  
  ul.cf li {
    position: relative;
    white-space: nowrap;
  }
  
  ul.cf > li:last-child {
    border-right: none;
  }
  
  ul.cf > li {
    float: left;
    /* 只有第一層是靠左對齊*/
  }
  
  ul.cf a {
    color:#fff;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 60px;
  }
  
  ul.cf a:hover {
    /* 滑鼠滑入按鈕變色*/
    color: #FF8C00;
    font-weight: bolder;
  }
  
  ul.cf li:hover > a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    color: #FF8C00;
  }
  
  ul.cf ul {
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 40px;
  }
  
  ul.cf ul li {
    /*border-bottom: #ffffff 0.015px solid;*/
  }
  
  ul.cf ul li:last-child {
    border-bottom: none;
  }
  
  ul.cf ul ul {
    /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
  }
  
  ul.cf ul {
    /*隱藏次選單*/
    left: 1%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  
  ul.cf li:hover > ul {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
  }
  
  ul.cf li:hover > ul ul {
    /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
    left: 99999px;
  }
  
  ul.cf ul li:hover > ul {
    /* 第二層之後的選單展開位置*/
    left: 90%;
  }

  .cf ::-webkit-scrollbar{
    display: none;
  }

  /*選擇網址位置後顏色持續停留*/
  /*.main-nav ul li.active-link a, .main-nav ul li.active-link a:visited {
    color: #509b98;
    }*/
  /*---hearer下拉選單結束---*/
/*--hearer結束--*/
/*--main(content)開始--*/

.content-maintitle{
  margin: auto;
  position: relative;
}

.content-info-studentcomm{
	display:flex;
	align-items: center;
}

.content-info-studentcomm-gird{
  display: grid !important;
  grid-template-rows: auto;
  grid-template-columns: max-content;
}


.content-info-studentcomm02{
	display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.content-info-studentcomm03{
	display:flex;
	align-items: center;
}
.flex-04{
	display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.flex-05{
	display:flex;
	align-items: center;
}
.flex-06{
	display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


/*--main(content)結束--*/

/*--footer開始--*/
.footer-bgbottom{
  position: relative;
  height: 500px;
  background-image: url('../img/footer_bg_fire.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.footer-column-icon{
  position: relative;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer-column-text{
  text-align: center;
  letter-spacing: 0.1em;
  font-family:monospace;
}

.footer-column{
  margin: auto;
  max-width: 92%;
}

.footer-wapper{
  height:-webkit-fill-available ;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*footer 背景連接漸層*/
/*.footer-bgtop{
  display: block;
  height: 3%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(0,0,0,1) 60%,transparent 100%);
}*/

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  text-align: center;
}
/*--footer結束--*/

/*---其餘選項-footer置底---*/
.site-wapper > footer{
  position: sticky !important;
  top: 100vh;
}
